
        <form [formGroup]="changePasswordForm">
            <div class="form-group row">
                <label for="txtUserName" class="col-sm-2 col-form-label col-form-label-sm">Tài khoản</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="txtUserName" placeholder="Tài khoản"
                        formControlName="userName" />
                    <div class="fv-plugins-message-container" *ngIf="isControlHasError('userName', 'required')">
                        <div data-field="username" data-validator="notEmpty" class="fv-help-block">
                            Không được để trống
                        </div>
                    </div>

                    <div class="fv-plugins-message-container" *ngIf="isControlHasError('userName', 'minlength')">
                        <div data-field="username" data-validator="notEmpty" class="fv-help-block">
                            Tên đăng nhập phải có ít nhất 6 ký tự
                        </div>
                    </div>

                    <div class="fv-plugins-message-container" *ngIf="isControlHasError('userName', 'maxlength')">
                        <div data-field="username" data-validator="notEmpty" class="fv-help-block">
                            Tên đăng nhập chỉ được chứa tối đa 320 ký tự
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="txtPass" class="col-sm-2 col-form-label col-form-label-sm">Mật khẩu cũ</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control form-control-sm" id="txtPass" placeholder="Mật khẩu cũ"
                        formControlName="oldPassword" />

                    <div class="fv-plugins-message-container" *ngIf="isControlHasError('oldPassword', 'required')">
                        <div data-field="username" data-validator="notEmpty" class="fv-help-block">
                            Không được để trống
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <label for="txtNewPass" class="col-sm-2 col-form-label col-form-label-sm">Mật khẩu mới</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control form-control-sm" id="txtNewPass"
                        placeholder="Mật khẩu mới" formControlName="newPassword" />

                    <div class="fv-plugins-message-container" *ngIf="isControlHasError('newPassword', 'required')">
                        <div data-field="username" data-validator="notEmpty" class="fv-help-block">
                            Không được để trống
                        </div>
                    </div>

                    <div class="fv-plugins-message-container" *ngIf="isControlHasError('newPassword', 'minlength')">
                        <div data-field="username" data-validator="notEmpty" class="fv-help-block">
                            Mật khẩu phải có ít nhất 8 ký tự
                        </div>
                    </div>

                    <div class="fv-plugins-message-container" *ngIf="isControlHasError('newPassword', 'maxlength')">
                        <div data-field="username" data-validator="notEmpty" class="fv-help-block">
                            Mật khẩu chỉ được chứa tối đa 320 ký tự
                        </div>
                    </div>

                    <div class="fv-plugins-message-container" *ngIf="isControlHasError('newPassword', 'pattern')">
                        <div data-field="username" data-validator="notEmpty" class="fv-help-block">
                            <ul>
                                <li>Mật khẩu phải bắt đầu bằng chữ cái</li>
                                <li>Mật khẩu phải có chứa ít nhất một chữ hoa</li>
                                <li>Mật khẩu phải có chứa ít nhất một chữ thường</li>
                                <li>Mật khẩu phải có chứa ít nhất một chữ số</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <button class="btn btn-primary" (click)="onSumbit()">
                <i class="far fa-save"></i>
                Xác nhận thay đổi mật khẩu
            </button>
        </form>
