<div class="target-tab-id pb-3 d-flex flex-wrap flex-md-nowrap align-items-start"
     id="data-tailieuhop">
  <div class="table-wrapper">
    <table class="table table-striped">
      <thead class="thead-light">
      <th>STT</th>
      <th>Tên tài liệu</th>
      <th>Mã</th>
      <th>Ngày xuất bản</th>
      <th>Trạng thái</th>
      <th>File</th>
      </thead>
      <tbody>
        <tr *ngFor="let doc of docsData; let i = index">
          <td>{{i+1}}</td>
          <td class="docLink" [width]="400"><a class="docLink" href={{doc.filePath}}>{{doc.fileName}}</a></td>
          <td>{{doc.notationNumber}}</td>
          <td [width]="300">{{doc.releaseDate}}</td>
          <td>{{doc.isShare ? 'Công khai' : 'Nội bộ'}}</td>
          <td>
            <div class="d-flex justify-content-around font-smaller">
              <!-- <i (click)="showDoc(doc.name)" class="fa fa-eye" aria-hidden="true" title="Xem tài liệu"></i>
              <i (click)="downDoc()" class="fa fa-download" aria-hidden="true" title="Tải tài liệu"></i>
              <i (click)="shareDoc()" class="fa fa-share" aria-hidden="true" title="Chia sẻ file"></i> -->
              <a href={{doc.filePath}} target="_blank"><i class="fa fa-file" title="Tải xuống" aria-hidden="true"></i></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>     
  </div>
  <div class="qr-download d-flex flex-column justify-content-center align-items-center">
    <img style="width: 100px;" src={{src}} alt="">
    <a download="qrCode.png" class="btn custom-btn " href="{{'data:image/png;base64,' + qrString}}"><img src="assets/img/icon-download-white.png" alt="Tải QR Code" width="24px">Tải QR Code</a>
     
  </div>
</div>  
