<app-portlet *ngIf="postForm">
  <!-- PORTLET LOADING | Binded to TABLE Datasource -->
  <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
  <app-portlet-header [title]="'Chỉnh sửa tin'" [class]="'card-head-lg'">
    <ng-container ktPortletTools>
      <button class="btn btn-secondary mr-2" [routerLink]="['/admin/post']">
        <i class="fas fa-chevron-left"></i>
        {{ "COMMON.BUTTON_CANCEL" | translate }}
      </button>
      <button class="btn btn-primary" (click)="onSubmit()" [disabled]="!postForm.valid">
        <i class="far fa-save"></i>
        {{ "COMMON.BUTTON_EDIT_SAVE" | translate }}
      </button>
    </ng-container>
  </app-portlet-header>
  <!-- end::Header -->

  <!-- start::Body (attribute: ktPortletBody) -->
  <app-portlet-body>
    <ng-template #editImageContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Thay đổi ảnh</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div
              ng2FileDrop
              [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
              (fileOver)="fileOverBase($event)"
              [uploader]="uploader"
              class="card bg-faded p-3 text-center my-drop-zone"
            >
              <i class="fa fa-upload fa-3x"></i>
              Kéo thả ảnh vào đây <br />

              hoặc
              <input
                type="file"
                title="Chọn ảnh"
                ng2FileSelect
                [uploader]="uploader"
              />
            </div>

            <table class="table" *ngIf="uploader?.queue?.length > 0">
              <thead>
                <tr>
                  <th width="50%">Ảnh</th>
                  <th>Dung lượng</th>
                  <th>Progress</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of uploader.queue">
                  <td>
                    <strong>{{ item?.file?.name }}</strong>
                  </td>
                  <td *ngIf="uploader.options.isHTML5" nowrap>
                    {{ item?.file?.size / 1024 / 1024 | number: ".2" }} MB
                  </td>
                  <td *ngIf="uploader.options.isHTML5">
                    <div class="progress" style="margin-bottom: 0">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        [ngStyle]="{ width: item.progress + '%' }"
                      ></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <i class="fas fa-check-circle" *ngIf="item.isSuccess"></i>

                    <i
                      *ngIf="item.isError"
                      class="fas fa-exclamation-triangle"
                    ></i>
                  </td>
                  <td nowrap>
                    <button
                      type="button"
                      class="btn btn-danger btn-sm"
                      [disabled] = "uploader?.queue?.length == 0"
                      (click)="item.remove()"
                    >
                      Xóa
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="onSaveImage()"
        >
          <i class="far fa-save"></i>
          Lưu Lại
        </button>
      </div>
    </ng-template>

    <form [formGroup]="postForm">
      <div class="form-group row">
        <label for="txtTitle" class="col-sm-2 col-form-label col-form-label-sm"
          >Tiêu đề</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="txtTitle"
            placeholder="Tiêu đề"
            formControlName="title"
          />
          <div
            class="fv-plugins-message-container"
            *ngIf="isControlHasError('title', 'required')"
          >
            <div
              data-field="title"
              data-validator="notEmpty"
              class="fv-help-block"
            >
              {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label
          for="txtDescription"
          class="col-sm-2 col-form-label col-form-label-sm"
          >Tóm tắt</label
        >
        <div class="col-sm-10">
          <textarea
            type="text"
            class="form-control form-control-sm"
            id="txtDescription"
            placeholder="Tóm tắt"
            formControlName="description"
          ></textarea>

          <div
            class="fv-plugins-message-container"
            *ngIf="isControlHasError('description', 'required')"
          >
            <div
              data-field="description"
              data-validator="notEmpty"
              class="fv-help-block"
            >
              {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label
          for="slCategory"
          class="col-sm-2 col-form-label col-form-label-sm"
          >Danh mục</label
        >
        <div class="col-sm-10">
          <ng-select [clearable]="false" class="mr-2" id="slCategory" style="width: 240px" formControlName="categoryId">
            <ng-option *ngFor="let item of categories" [value]="item.categoryId">{{item.categoryName}}</ng-option>
          </ng-select>
        </div>
      </div>

      <div class="form-group row">
        <label for="ctUpload" class="col-sm-2 col-form-label col-form-label-sm"
          >Ảnh đại diện</label
        >
        <div class="col-sm-10">
          <img
            src="{{ post.imagePath }}"
            class="img-thumbnail img-responsive"
            style="max-width: 200px"
          />
          <button
            class="btn btn-success btn-sm ml-10"
            (click)="openUpdateImageModal(editImageContent)"
          >
            Đổi Ảnh
          </button>
        </div>
      </div>

      <div class="form-group row">
        <label
          for="txtFullName"
          class="col-sm-2 col-form-label col-form-label-sm"
          >Chi tiết bài viết</label
        >
        <div class="col-sm-10">
          <angular-editor
            formControlName="body"
            [config]="config"
          ></angular-editor>
        </div>
      </div>

      <div class="form-group row">
        <label
          for="chkIsActive"
          class="col-sm-2 col-form-label col-form-label-sm"
          >Hiển thị</label
        >
        <div class="col-sm-10 text-left">
          <input
            type="checkbox"
            class="form-control-sm"
            id="chkIsActive"
            formControlName="isActive"
          />
        </div>
      </div>
    </form>
  </app-portlet-body>
  <!-- end::Body -->
</app-portlet>
