<app-portlet>
  <!-- PORTLET LOADING | Binded to TABLE Datasource -->
  <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
  <app-portlet-header
    [title]="'Đổi Mật Khẩu'"
    [class]="'card-head-lg'"
  >
    <ng-container ktPortletTools>
      <button class="btn btn-secondary mr-2" [routerLink]="['/admin']">
        <i class="fas fa-chevron-left"></i>
        {{ "COMMON.BUTTON_CANCEL" | translate }}
      </button>
      <button class="btn btn-primary" (click)="onSumbit()">
        <i class="far fa-save"></i>
        {{ "COMMON.BUTTON_EDIT_SAVE" | translate }}
      </button>
    </ng-container>
  </app-portlet-header>
  <!-- end::Header -->

  <!-- start::Body (attribute: ktPortletBody) -->
  <app-portlet-body>
    <form [formGroup]="changePasswordForm" *ngIf="changePasswordForm">
      <div class="form-group row">
        <label
          for="txtUserName"
          class="col-sm-2 col-form-label col-form-label-sm"
          >Tài khoản</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control form-control-sm"
            id="txtUserName"
            placeholder="Tài khoản"
            formControlName="userName"
          />
          <div
            class="fv-plugins-message-container"
            *ngIf="isControlHasError('userName', 'required')"
          >
            <div
              data-field="username"
              data-validator="notEmpty"
              class="fv-help-block"
            >
              {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
            </div>
          </div>

          <div
            class="fv-plugins-message-container"
            *ngIf="isControlHasError('userName', 'minlength')"
          >
            <div
              data-field="username"
              data-validator="notEmpty"
              class="fv-help-block"
            >
              {{ "AUTH.VALIDATION.MIN_LENGTH_FIELD" | translate }} 6
            </div>
          </div>

          <div
            class="fv-plugins-message-container"
            *ngIf="isControlHasError('userName', 'maxlength')"
          >
            <div
              data-field="username"
              data-validator="notEmpty"
              class="fv-help-block"
            >
              {{ "AUTH.VALIDATION.MAX_LENGTH_FIELD" | translate }} 320
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="txtPass" class="col-sm-2 col-form-label col-form-label-sm"
          >Mật khẩu cũ</label
        >
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control form-control-sm"
            id="txtPass"
            placeholder="Mật khẩu cũ"
            formControlName="oldPassword"
          />

          <div
            class="fv-plugins-message-container"
            *ngIf="isControlHasError('oldPassword', 'required')"
          >
            <div
              data-field="username"
              data-validator="notEmpty"
              class="fv-help-block"
            >
              {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
            </div>
          </div>

        </div>
      </div>

      <div class="form-group row">
        <label for="txtNewPass" class="col-sm-2 col-form-label col-form-label-sm"
          >Mật khẩu mới</label
        >
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control form-control-sm"
            id="txtNewPass"
            placeholder="Mật khẩu mới"
            formControlName="newPassword"
          />

          <div
            class="fv-plugins-message-container"
            *ngIf="isControlHasError('newPassword', 'required')"
          >
            <div
              data-field="username"
              data-validator="notEmpty"
              class="fv-help-block"
            >
              {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
            </div>
          </div>

          <div
            class="fv-plugins-message-container"
            *ngIf="isControlHasError('newPassword', 'minlength')"
          >
            <div
              data-field="username"
              data-validator="notEmpty"
              class="fv-help-block"
            >
              {{ "AUTH.VALIDATION.MIN_LENGTH_FIELD" | translate }} 8
            </div>
          </div>

          <div
            class="fv-plugins-message-container"
            *ngIf="isControlHasError('newPassword', 'maxlength')"
          >
            <div
              data-field="username"
              data-validator="notEmpty"
              class="fv-help-block"
            >
              {{ "AUTH.VALIDATION.MAX_LENGTH_FIELD" | translate }} 320
            </div>
          </div>

          <div
            class="fv-plugins-message-container"
            *ngIf="isControlHasError('newPassword', 'pattern')"
          >
            <div
              data-field="username"
              data-validator="notEmpty"
              class="fv-help-block"
            >
              <ul>
                <li>Mật khẩu phải bắt đầu bằng chữ cái</li>
                <li>Mật khẩu phải có chứa ít nhất một chữ hoa</li>
                <li>Mật khẩu phải có chứa ít nhất một chữ thường</li>
                <li>Mật khẩu phải có chứa ít nhất một chữ số</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </form>
  </app-portlet-body>
  <!-- end::Body -->
</app-portlet>
