:host {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.5em;
  z-index: 1200;

  .toast-inner {
    i {
      font-size: 30px;
      color: #fff;
    }
    .toast-message {
      font-size: 13px;
      line-height: 30px;
    }
  }
}
