<app-portlet>
  <!-- PORTLET LOADING | Binded to TABLE Datasource -->
  <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
  <app-portlet-header [title]="'Nhóm cán bộ được mời họp'" [class]="'card-head-lg'">
    <ng-container ktPortletTools>
      <button *ngIf="showCreateBtn" [routerLink]="['./add']" class="btn btn-primary">
        <i class="fas fa-plus"></i>
        {{ "COMMON.BUTTON_ADD" | translate }}
      </button>
    </ng-container>
  </app-portlet-header>
  <!-- end::Header -->

  <!-- start::Body (attribute: ktPortletBody) -->
  <app-portlet-body>
    <div class="d-flex justify-content-between p-2">
      <div class="form-group form-inline">
        <div class="input-search">
          <input class="form-control mr-2" type="text" name="searchTerm" #searchInput placeholder="Nhập tên..." (keyup.enter)="loadGroupMeeting()"/>
          <i class="fa fa-times" (click)="searchInput.value=''"></i>
        </div>

        <button class="btn btn-success" (click)="loadGroupMeeting()">
          <i class="fas fa-search"></i>
          {{ "COMMON.BUTTON_SEARCH" | translate }}
        </button>
      </div>
      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="loadGroupMeeting()">
        <option [ngValue]="10">
          10 {{ "COMMON.ITEMS_PER_PAGE" | translate }}
        </option>
        <option [ngValue]="30">
          30 {{ "COMMON.ITEMS_PER_PAGE" | translate }}
        </option>
        <option [ngValue]="50">
          50 {{ "COMMON.ITEMS_PER_PAGE" | translate }}
        </option>
        <option [ngValue]="100">
          100 {{ "COMMON.ITEMS_PER_PAGE" | translate }}
        </option>
      </select>
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col" style="width: 60px">#</th>
            <th scope="col" sortable="Name" (sort)="onSort($event)">Tên nhóm</th>
            <th scope="col" sortable="Name">Phòng ban</th>
            <th scope="col" sortable="Name">Cán bộ</th>
            <th scope="col" sortable="Name">Cán bộ ngoài hệ thống</th>
            <th scope="col" style="width: 150px" sortable="CreatedDate" (sort)="onSort($event)">Ngày tạo</th>
            <th scope="col" style="width: 150px">{{ "COMMON.ACTION_COLUME" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of groupMeetings; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.groupParticipantName }}</td>
            <td>
              <a style="cursor: pointer;" *ngIf="item.departments.length > 0" id="show2-{{i}}" (click)="toggleList(i, 2)">Hiển thị</a>
              <div style="display: none;" id="to-show2-{{i}}" >
                <p class="p-1 mb-0" *ngFor="let department of item.departments">
                  {{ department.name }}
                </p>
              </div>
            </td>
            <td>
              <a style="cursor: pointer;" *ngIf="item.users.length > 0" id="show-{{i}}" (click)="toggleList(i, 1)">Hiển thị</a>
              <div  style="display: none;" id="to-show-{{i}}">
                <p class="p-1 mb-0" *ngFor="let user of item.users">
                  {{ user.fullName }}
                </p>
              </div>
            </td>
            <td>
              <a style="cursor: pointer;" *ngIf="item.otherParticipants.length > 0" id="show3-{{i}}" (click)="toggleList(i, 3)">Hiển thị</a>
              <div style="display: none;" id="to-show3-{{i}}">
                <p class="p-1 mb-0" *ngFor="let participant of item.otherParticipants">
                  {{ participant.name }}
                </p>
              </div>
            </td>
            <td>{{ item.createdDate | date: "dd/MM/yyyy" }}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <!-- <button class="btn btn-sm btn-warning" (click)="edit(item.id)" title="Danh sách cán bộ">
                  <i class="fa fa-eye"></i>
                </button> -->
                <button *ngIf="showEditBtn" class="btn btn-sm btn-primary" (click)="edit(item.groupParticipantId)" title="Sửa">
                  <i class="fa fa-edit"></i>
                </button>
                <button *ngIf="showDeleteBtn" class="btn btn-sm btn-danger" (click)="delete(item)" title="Xóa">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="totalCount" [(page)]="page" [pageSize]="pageSize" (pageChange)="loadGroupMeeting()">
      </ngb-pagination>
      <div class="page-per-total">
        Hiển thị {{ count }} / {{ totalCount }} bản ghi
      </div>
    </div>
  </app-portlet-body>
  <!-- end::Body -->
</app-portlet>
